body
{
    font-family: 'Roboto', sans-serif;
    background-color: gray; 
}

#container
{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

#logo
{
   color: whitesmoke;
   margin-top: 20px;
   font-size: 44px;
   letter-spacing: 1px;
   font-weight: 700; 
}

#menu
{
    background-color:rgb(80, 88, 96);
    margin-top: 20px;
    color: #ffffff;
    padding: 10px;

}

#topbar
{
   background-color: #5d07a3;
   color: white;
   padding: 10px;
   margin-top: 20px;
   margin-bottom: 25px;
   height: 170px; 
}

#sidebar
{
    float:left;
    width: 148px;
    height: 620px;
    padding: 20px;
    background-color: lightgrey;
    text-align: center;
    font-size: 18px;
    border-right: 2px dotted gray;
}

#content
{
    float:left;
    padding: 40px;
    width: 730px;
    background-color: #dedede;
    min-height: 580px;
    text-align: justify;
}


#footer
{
    clear:both;
    color:white;
    padding: 20px;
    text-align: center; 
    border-top: 2px dotted gray;
    font-size: 18px;
}

.option
{
    text-decoration: none;
    color: white;
    float: left;
    min-width: 50px;
    height: 20px;
    font-size: 18px;
    padding: 10px;
    border-right: 2px dotted #444444;
    opacity: 0.8;
}

.option:hover
{
    color: white;
    background-color:black;
    cursor: pointer;
}

#topbarL 
{
    float:left;
    padding: 20px;
    width: 138px;
    text-align: center;
    border-right: 2px dotted #ffffff;
}

#topbarR
{
    float:left;
    padding: 20px;
    width: 760px;
    font-size: 16px;
    text-align: justify;
}

.optionl
{
    font-size: 18px;
    height: 25px;
    padding: 10px;
    border-bottom: 2px dotted #444444;
}

.optionl:hover
{
    color: white;
    background-color: orangered;
    cursor: pointer;
}

.titles
{
   font-size: 36px;
   font-weight: 700;
   letter-spacing: 1px; 
}

.content
{
    font-size: 69px;
    text-align: left;
}